.header {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding:0 10px;
    align-items: center;
    background-color: #654497;
}

nav {
    display: flex;
    justify-content: flex-start;
    max-width: 400px;
    width: 100%;
    min-height: 100%;
    column-gap: 15px;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    max-width: 150px;
    width: 100%;
    text-decoration: none;
    font-family: MorningBreeze;
    font-size: 24px;
    letter-spacing: 3px;
    color: bisque;
    cursor: pointer;
}

.active {
    background-color: #51328a;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
}

.logoText {
    font-family: MorningBreeze;
    font-size: 32px;
    font-weight: bold;
    color: #41b47e;

}