.game{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.menu {
    max-width: 450px;
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.btnAgain {
    border: none;
    outline: none;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #dcc7f6;
    padding: 15px 30px;
    border-radius: 10px;
    background-color:  #9a73c7;
    background-image: linear-gradient(0deg, #c5a2ee,#9a73c7,#c5a2ee);
    cursor: pointer;
    transition: transform 0.2s ease;
}

.btnAgain:hover{
    transform: scale(1.01);
}

.score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #07019f;
    padding: 15px 30px;
    border-radius: 10px;
    background-color:  #c4a3e9;
}